/* ------------------------------------------------------------
 * Site Navigation
 * 
**/

#site-navigation .menu-toggle * { font-size: 1em; line-height: 1.5em; }
#site-navigation .menu-toggle { margin-left: -1% }
#site-navigation .menu-toggle i { opacity: .6 }
#site-navigation .menu-toggle span { padding-left: 4px; }

.main-navigation,
.main-navigation ul { background: #f0f0f0; }

.main-navigation { 
	position: fixed; top: 0; left: 0; width:100%;
	font-size: 16px; box-shadow:0 3px 3px rgba(0,0,0,0.2); 
	font-weight: 300;
	padding: 0 1%; z-index:9990; 
}

body.admin-bar .main-navigation  {
	position: fixed;
	top: 32px; /* wp-admin-bar fixed */
	left; 0; width:100%;
}

.main-navigation  > ul,
.main-navigation li a { height: 32px; line-height: 32px; }
.main-navigation ul { display:block; margin:0; padding:0; list-style:none; }
.main-navigation li { list-style-type:none; float:left; position:relative; }
.main-navigation a { display:block; text-decoration: none; min-width: 180px; padding: 0 4px; overflow: hidden; }
.main-navigation li ul { display:none; float:left; left:0; position:absolute; box-shadow:0 3px 3px rgba(0,0,0,0.2); top:32px; }
.main-navigation  li:hover > ul { display: block; z-index:9991;  }
.main-navigation ul ul ul { left: 100%; top: 0; }
.main-navigation ul ul a { min-width: 180px; }
.main-navigation ul ul li { border-bottom: 1px solid rgba(0,0,0,0.2) }
.main-navigation li:hover > a { background: rgba(255,255,255,0.2)}
.main-navigation ul ul :hover > a { }
.main-navigation a:hover { background: rgba(255,255,255,0.5) }
.main-navigation ul ul a:hover { background: rgba(255,255,255,0.6) }
.main-navigation .current_page_item a,
.main-navigation .current-menu-item a { }

.main-navigation .menu-item-has-children > a:after,
.main-navigation .page_item_has_children > a:after {
	font-family: "umi-wp-font";
	float:right; content: "\25bc"; font-size: 80%;
	opacity: .8; margin-right: .5rem;
}
.main-navigation .menu-item-has-children .menu-item-has-children > a:after,
.main-navigation .page_item_has_children .page_item_has_children > a:after { 
	font-family: "umi-wp-font";
	float:right; content: "\22ef"; font-size: 80%;
	opacity: .8; margin-right: .5rem;
}

.main-navigation .menu-item a[href="/wp-login"]:before { 
	font-family: "umi-wp-font";
	content: '\e63b'; padding: .25rem;
	vertical-align: top
}

.main-navigation .menu-item a[href="#logout"]:before{ 
	font-family: "umi-wp-font";
	content: " \e63a";  padding: .25rem;
	vertical-align: top	
}

.menu-toggle { cursor: pointer; display: none; }
.menu-toggle:before { min-width: 17px; display:block; float: left; vertical-align: middle; }

.main-navigation ul.nav-menu > li:last-child { float: right; }
.main-navigation ul.nav-menu > li:first-child { float: left; }
 
/* Page navigations
 * ------------------------------------------
**/

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

