html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;z-index:0}
body{margin:0;padding:0;z-index:1}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
h1{font-size:2em;margin:0.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type='button'],input[type='reset'],input[type='submit']{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type='checkbox'],input[type='radio']{box-sizing:border-box;padding:0}
input[type='number']::-webkit-inner-spin-button,input[type='number']::-webkit-outer-spin-button{height:auto}
input[type='search']{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type='search']::-webkit-search-cancel-button,input[type='search']::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
@charset 'UTF-8';@font-face{font-family:'umui-fonts';src:url('fonts/umui-fonts.eot');src:url('fonts/umui-fonts.eot?#iefix') format('embedded-opentype'),url('fonts/umui-fonts.woff') format('woff'),url('fonts/umui-fonts.ttf') format('truetype'),url('fonts/umui-fonts.svg#umui-fonts') format('svg');font-weight:normal;font-style:normal}
[data-icon]:before{font-family:'umui-fonts' !important;content:attr(data-icon);font-style:normal !important;font-weight:normal !important;font-variant:normal !important;text-transform:none !important;speak:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
[class^='umi-']:before,[class*=' umi-']:before{font-family:'umui-fonts' !important;font-style:normal !important;font-weight:normal !important;font-variant:normal !important;text-transform:none !important;speak:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.umi-more-h:before{content:'a'}
.umi-menus:before{content:'b'}
.umi-more-v:before{content:'c'}
.umi-aquo-l:before{content:'d'}
.umi-aquo-r:before{content:'e'}
.umi-aquo-u:before{content:'f'}
.umi-aquo-d:before{content:'g'}
.umi-cur-l:before{content:'h'}
.umi-cur-l-1:before{content:'i'}
.umi-toggle-u:before{content:'j'}
.umi-toggle-d:before{content:'k'}
.umi-search:before{content:'l'}
.umi-email:before{content:'m'}
.umi-no:before{content:'n'}
.umi-yes:before{content:'o'}
.umi-wench:before{content:'p'}
.umi-pencil:before{content:'q'}
.umi-arr-l:before{content:'r'}
.umi-arr-r:before{content:'s'}
.umi-arr-u:before{content:'t'}
.umi-arr-d:before{content:'u'}
.umi-cur-b-u:before{content:'v'}
.umi-cur-b-d:before{content:'w'}
.umi-feed:before{content:'x'}
.umi-point-r:before{content:'y'}
.umi-point-l:before{content:'z'}
.umi-point-u:before{content:'A'}
.umi-point-d:before{content:'B'}
.umi-attachment:before{content:'C'}
.umi-bulb:before{content:'D'}
.umi-thumb-d:before{content:'I'}
.umi-thumb-u:before{content:'J'}
.umi-book-open:before{content:'K'}
.umi-book:before{content:'L'}
.umi-bookmarks:before{content:'M'}
.umi-bookmark:before{content:'N'}
.umi-attention:before{content:'O'}
.umi-cancel-squared:before{content:'P'}
.umi-cancel-circled:before{content:'Q'}
.umi-chat:before{content:'R'}
.umi-cog:before{content:'S'}
.umi-comment:before{content:'T'}
.umi-clock:before{content:'U'}
.umi-compass:before{content:'V'}
.umi-credit-card:before{content:'W'}
.umi-database:before{content:'X'}
.umi-soundcloud:before{content:'3'}
.umi-print:before{content:'!'}
.umi-popup:before{content:'\''}
.umi-phone:before{content:'#'}
.umi-newspaper:before{content:'$'}
.umi-lock-open:before{content:'%'}
.umi-lock:before{content:'&'}
.umi-location:before{content:'''}
.umi-twitter-circle:before{content:'F'}
.umi-soundcloud-circle:before{content:'G'}
.umi-git-circle:before{content:'E'}
.umi-facebook-circle:before{content:'H'}
.umi-google-plus-circle:before{content:'Y'}
.umi-linked-in-circle:before{content:'Z'}
.umi-instagram-circle:before{content:'0'}
.umi-white-question:before{content:'1'}
.umi-warning-alt:before{content:'2'}
.umi-users:before{content:'4'}
.umi-user-male:before{content:'5'}
.umi-user-female:before{content:'('}
.umi-user1:before{content:')'}
.umi-globe-alt:before{content:'*'}
.umi-globe:before{content:'+'}
.umi-git-circle-alt:before{content:','}
.umi-vcard:before{content:'6'}
.umi-gauge:before{content:'7'}
.umi-link:before{content:'8'}
.umi-star:before{content:'9'}
.umi-star-empty:before{content:'-'}
.umi-warning:before{content:'.'}
.umi-file-alt:before{content:'/'}
.umi-file-close-alt:before{content:';'}
.umi-file-open:before{content:'<'}
.umi-home:before{content:':'}
.umi-reorder-square:before{content:'='}
.umi-reorder-square-line:before{content:'>'}
.umi-page:before{content:'?'}
.umi-page-copy:before{content:'['}
.umi-page-delete:before{content:']'}
.umi-page-doc:before{content:'@'}
.umi-page-add:before{content:'^'}
.umi-map:before{content:'_'}
.umi-page-multiple:before{content:'`'}
.umi-page-filled:before{content:'{'}
.umi-results-demographics:before{content:''}
.umi-clipboard-notes:before{content:'}
'}
.umi-css3:before{content:'~'}
.umi-html5:before{content:'\'}
.umi-thumbnails:before{content:'\e000'}
.umi-fontawesome-webfont:before{content:'\e001'}
.umi-chart-pie:before{content:'\e002'}
.umi-chart-line:before{content:'\e003'}
.umi-chart-bar:before{content:'\e004'}
.umi-chart-area:before{content:'\e005'}
.umi-ying-yang:before{content:'\e006'}
.umi-photo:before{content:'\e007'}
.umi-web:before{content:'\e008'}
.umi-tables:before{content:'\e009'}
.umi-cc:before{content:'\e00a'}
body{font-size:16px;line-height:24px -webkit-font-smoothing:subpixel-antialiased;-webkit-text-size-adjust:none}
a{text-decoration:none}
a:hover{text-decoration:underline}
textarea{min-width:98%;display:block}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,h1 a:visited,h2 a:visited,h3 a:visited,h4 a:visited,h5 a:visited,h6 a:visited,h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{text-decoration:none}
ul,ol{margin:0;padding:0}
ul li,ol li{list-style-type:none}
h1,h2,h3,h4,h5,h6{font-size:1em;margin:0;font-weight:700}
aside li,aside ul{margin:0;padding:0;list-style-type:none}
aside{font-size:.9em}
sub,sup{font-size:.6em}
label{font-weight:700}
input[type='checkbox'],input[type='radio']{padding:0}
select,textarea,input[type='text'],input[type='email'],input[type='url'],input[type='password'],input[type='search']{padding:3px}
textarea{vertical-align:top}
input[type='search']{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
input[type='search']::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
select,input[type='text'],input[type='email'],input[type='url'],input[type='password'],input[type='search'],textarea{color:#333;border:1px solid rgba(0,0,0,0.2);border-radius:3px;font-weight:normal}
input[type='text']:focus,input[type='email']:focus,input[type='url']:focus,input[type='password']:focus,input[type='search']:focus,textarea:focus{color:#111;outline:none}
*:disabled{background-color:rgba(0,0,0,0.1)}
button,html input[type='button'],input[type='reset'],input[type='submit']{font-size:.8em;padding:4px 8px 3px 8px;appearance:button;-moz-appearance:button}
select{appearance:menulist;-moz-appearance:menulist;-webkit-appearance:menulist;font-family:sans-serif;font-size:.9em;padding:4px 0 3px 0;-moz-box-sizing:content-box;box-sizing:content-box;line-height:1}
@-moz-document url-prefix(){select{font-size:13px}
option{line-height:1}
}
embed,iframe,object{max-width:100%}
p{-webkit-margin-before:0;-webkit-margin-after:0}
.blog article,.search article,.archive article{margin:1em 0 1em 0;padding-bottom:1em}
.blog h1.entry-title,.search h1.entry-title,.archive h1.entry-title{font-size:1.2em}
.comment-author cite.fn{font-style:normal}
.comment-author img.avatar{float:left;margin-right:10px}
.comment-author{line-height:16px}
.comment-content{margin-left:42px}
.comment-form label{display:block}
.comment-form p.form-allowed-tags{font-size:.85em}
.comment-form{width:100%}
.comment-list .children li.comment .reply{top:0;margin-right:0}
.comment-list .children{margin-left:42px;border-top:1px solid rgba(0,0,0,.05);padding-top:.5em}
.comment-list .depth-1{padding:.3em;margin:.5em 0;border:1px solid rgba(0,0,0,.05);border-radius:3px}
.comment-list .parent article{margin-bottom:.5em}
.comment-list>li.comment:hover{background:rgba(0,0,0,0.02)}
.comment-list li.comment .reply{position:absolute;top:.3em;right:0;margin-right:.3em}
.comment-metadata{font-size:.8em}
.comment-meta{font-size:.9em}
.comments-area .comments-title{margin-bottom:1em}
.comments-area div:not(.comment-content) dd,.comments-area div:not(.comment-content) ul,.comments-area div:not(.comment-content) ol{margin-left:2em}
.comments-area div:not(.comment-content) p{margin:1em 0}
.comments-area ol{margin-left:0em}
.edit-link{float:right}
.page h1.entry-title,.single h1.entry-title{font-size:2em;line-height:1em}
.site-content{display:table;clear:both}
.widget .search-field{min-width:90%}
a.comment-reply-link,a.post-edit-link{-webkit-appearance:button;padding:0 1em;text-decoration:none !important;color:#111}
article .entry-meta,.comments-area .reply,div.nav-links{font-size:.9em}
div.nav-links,div.comments-area{margin:1em 0;display:table;width:100%}
footer{margin-top:1em}
li.comment{position:relative}
.alignleft{display:inline;float:left;margin-right:1.5em}
.alignright{display:inline;float:right;margin-left:1.5em}
.aligncenter{clear:both;display:block;margin:0 auto}
.clear:before,.clear:after,.entry-content:before,.entry-content:after,.comment-content:before,.comment-content:after,.site-header:before,.site-header:after,.site-content:before,.site-content:after,.site-footer:before,.site-footer:after{content:'';display:table}
.clear:after,.entry-content:after,.comment-content:after,.site-header:after,.site-content:after,.site-footer:after{clear:both}
.widget{margin:0 0 1.5em}
.widget select{max-width:100%}
.widget_search .search-submit{display:none}
.byline,.updated{display:none}
.single .byline,.group-blog .byline{display:inline}
.page-content,.entry-content,.entry-summary{margin:1.5em 0 0}
.page-links{clear:both;margin:0 0 1.5em}
.blog .format-aside .entry-title,.archive .format-aside .entry-title{display:none}
.comment-content a{word-wrap:break-word}
.infinite-scroll .paging-navigation,.infinite-scroll.neverending .site-footer{display:none}
.infinity-end.neverending .site-footer{display:block}
.page-content img.wp-smiley,.entry-content img.wp-smiley,.comment-content img.wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}
.wp-caption{border:1px solid rgba(0,0,0,0.08);margin-bottom:1.5em;max-width:100%}
.wp-caption img[class*='wp-image-']{display:block;margin:1.2% auto 0;max-width:98%}
.wp-caption-text{text-align:center;font-size:.8em}
.wp-caption .wp-caption-text{margin:0.8075em 0}
.site-main .gallery{margin-bottom:1.5em}
.gallery-caption{}
.site-main .gallery a img{border:none;height:auto;max-width:90%}
.site-main .gallery dd{margin:0}
.site-main .gallery-columns-4 .gallery-item{}
.site-main .gallery-columns-4 .gallery-item img{}
.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important}
.entry-content{position:relative;font-size:16px;line-height:1.5rem}
.comment-content{position:relative;font-size:14px;line-height:1.2rem}
.consist{margin-bottom:2em}
.entry-content p{margin-bottom:1.5em}
.comment-content p{margin-bottom:0.65em}
.page h1.entry-title,.um-content h1{font-size:3em;margin-bottom:24px}
.um-content h2{font-size:1.5em;line-height:1.5rem;margin:1rem 0}
.um-content h3{font-size:1.2em;line-height:1.2rem;margin:1rem 0}
.um-content h4{font-size:1em;line-height:1rem;margin-bottom:0;margin-top:1rem}
.um-content h5{font-size:0.9em;line-height:1rem;margin-bottom:0;margin-top:1rem}
.um-content h6{font-size:0.8em;font-weight:300;line-height:1rem;margin-bottom:0;text-transform:uppercase;border-top:1px solid #ccc;padding-top:0.5rem;margin-top:1rem}
.um-content a{text-decoration:none}
.um-content a:hover{text-decoration:underline}
.um-content>ol,.um-content>ul{margin-bottom:1.5em}
.um-content ol>li{list-style-type:decimal}
.um-content ul>li{list-style-type:square}
.um-content ol,.um-content dd,.um-content ul{padding-left:1.5em}
.um-content dt,.um-content dd{margin:0}
.um-content li{margin-bottom:0.2em}
.um-content li>ol,.um-content li>ul{margin-bottom:0.5em}
.um-content b,.um-content strong{font-weight:bold}
.um-content dfn,.um-content cite,.um-content em,.um-content i:not[class=icon*]{font-style:italic}
.um-content table{border:1px solid #ccc;font-size:.9em}
.um-content td,.um-content th{border:1px solid #ccc;padding:0.3em 0.5em;vertical-align:top;line-height:1.3em}
.um-content blockquote{margin:0 1.5em;font-size:1.25em;line-height:2rem}
.um-content address{margin:0 0 1.5em}
.um-content pre{font-size:0.8em;font-family:Monaco,Consolas,'Andale Mono','DejaVu Sans Mono',monospace line-height:1.3em;max-width:100%;overflow:auto;margin-bottom:1em}
.um-content code,.um-content kbd,.um-content tt,.um-content var{font:15px Monaco,Consolas,'Andale Mono','DejaVu Sans Mono',monospace}
.um-content abbr,.um-content acronym{border-bottom:1px dotted #666;cursor:help}
.um-content mark,.um-content ins{background:#fff9c0;text-decoration:none}
.um-content small{font-size:75%}
.um-content big{font-size:125%}
.um-content hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}
.um-content dt{font-weight:bold}
.um-content dl{margin-bottom:1.5em}
.um-content figure{margin:0}
.um-content table{margin:0 0 1.5em;width:100%;border:1px solid rgba(0,0,0,.1)}
.um-content th{font-weight:bold;background:rgba(255,255,255,.2)}
.um-content th .um-content td{border:1px solid rgba(0,0,0,.1);border-bottom:none;border-right:none;padding:0.2em 0.5em}
.um-content p img{max-width:100%;vertical-align:-25%}
.um-content td img{vertical-align:-50%}
