@charset "UTF-8";

@font-face {
  font-family: "um-fonts";
  src:url("fonts/um-fonts.eot");
  src:url("fonts/um-fonts.eot?#iefix") format("embedded-opentype"),
    url("fonts/um-fonts.woff") format("woff"),
    url("fonts/um-fonts.ttf") format("truetype"),
    url("fonts/um-fonts.svg#um-fonts") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "um-fonts" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="umi-"]:before,
[class*=" umi-"]:before {
  font-family: "um-fonts" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.umi-torso:before {
  content: "a";
}
.umi-torso-business:before {
  content: "b";
}
.umi-torso-female:before {
  content: "c";
}
.umi-torsos:before {
  content: "d";
}
.umi-torsos-all:before {
  content: "e";
}
.umi-torsos-all-female:before {
  content: "f";
}
.umi-torsos-female-male:before {
  content: "g";
}
.umi-torsos-male-female:before {
  content: "h";
}
.umi-fontawesome-webfont:before {
  content: "i";
}
.umi-c-right:before {
  content: "j";
}
.umi-c-left:before {
  content: "k";
}
.umi-aquo-down:before {
  content: "l";
}
.umi-aquo-up:before {
  content: "m";
}
.umi-aquo-right:before {
  content: "n";
}
.umi-aquo-left:before {
  content: "o";
}
.umi-a-down:before {
  content: "p";
}
.umi-a-up:before {
  content: "q";
}
.umi-a-right:before {
  content: "r";
}
.umi-a-left:before {
  content: "s";
}
.umi-fontawesome-webfont-11:before {
  content: "t";
}
.umi-d-next:before {
  content: "u";
}
.umi-d-ff:before {
  content: "v";
}
.umi-d-stop:before {
  content: "w";
}
.umi-d-pause:before {
  content: "x";
}
.umi-fontawesome-webfont-11:before {
  content: "t";
}
.umi-d-rr:before {
  content: "y";
}
.umi-fontawesome-webfont-17:before {
  content: "z";
}
.umi-d-play:before {
  content: "A";
}
.umi-d-last:before {
  content: "B";
}
.umi-d-first:before {
  content: "C";
}
.umi-d-prev:before {
  content: "t";
}
.umi-wench:before {
  content: "z";
}
.umi-d-power:before {
  content: "D";
}
.umi-more-h:before {
  content: "E";
}
.umi-more-v:before {
  content: "F";
}
.umi-no:before {
  content: "G";
}
.umi-yes:before {
  content: "H";
}
.umi-bc-up:before {
  content: "I";
}
.umi-bc-down:before {
  content: "J";
}
.umi-pull-down:before {
  content: "K";
}
.umi-push-up:before {
  content: "L";
}
.umi-attention:before {
  content: "i";
}
.umi-book:before {
  content: "M";
}
.umi-calendar:before {
  content: "N";
}
.umi-basket:before {
  content: "O";
}
.umi-bag:before {
  content: "P";
}
.umi-archive:before {
  content: "Q";
}
.umi-cancel-circled:before {
  content: "R";
}
.umi-cancel-squared:before {
  content: "S";
}
.umi-chat:before {
  content: "T";
}
.umi-comment:before {
  content: "U";
}
.umi-floppy:before {
  content: "V";
}
.umi-phone:before {
  content: "W";
}
.umi-pencil:before {
  content: "X";
}
.umi-print:before {
  content: "Y";
}
.umi-vcard:before {
  content: "Z";
}
.umi-menu:before {
  content: "0";
}
.umi-list:before {
  content: "1";
}
.umi-twitter-circled:before {
  content: "1";
}
.umi-tumblr-circled:before {
  content: "2";
}
.umi-skype-circled:before {
  content: "3";
}
.umi-pinterest-circled:before {
  content: "4";
}
.umi-linkedin-circled:before {
  content: "5";
}
.umi-facebook-circled:before {
  content: "6";
}
.umi-window:before {
  content: "7";
}
.umi-thumbs-up:before {
  content: "8";
}
.umi-thumbs-down:before {
  content: "8";
}
.umi-star:before {
  content: "9";
}
.umi-star-empty:before {
  content: "!";
}
.umi-globe:before {
  content: "\"";
}
.umi-fontawesome-webfont-30:before {
  content: "#";
}
.umi-unlock:before {
  content: "#";
}
.umi-unlock-alt:before {
  content: "$";
}
.umi-github-circled:before {
  content: "%";
}
.umi-gplus-circled:before {
  content: "&";
}
.umi-settings:before {
  content: "'";
}
.umi-retweet:before {
  content: "(";
}
.umi-mail:before {
  content: ")";
}
.umi-unlock:before {
  content: "#";
}
.umi-unlock-alt:before {
  content: "$";
}
.umi-clock:before {
  content: "'";
}
.umi-compass:before {
  content: "(";
}
.umi-map:before {
  content: ")";
}
.umi-map:before {
  content: ")";
}
.umi-photo:before {
  content: "*";
}
.umi-tag:before {
  content: "+";
}
.umi-tags-1:before {
  content: ",";
}
.umi-cog-circled:before {
  content: "-";
}
.umi-cog1:before {
  content: ".";
}
.umi-cogs:before {
  content: "/";
}
.umi-bookmarks:before {
  content: ":";
}
.umi-compas:before {
  content: ";";
}
.umi-bookmark:before {
  content: ":";
}
.umi-down-circled:before {
  content: ":";
}
.umi-compass-1:before {
  content: ";";
}
.umi-database:before {
  content: "<";
}
.umi-cog2:before {
  content: "'";
}
.umi-clock:before {
  content: "(";
}
.umi-layout:before {
  content: ")";
}
.umi-monitor:before {
  content: "=";
}
.umi-attachment:before {
  content: ">";
}
.umi-newspaper:before {
  content: "=";
}
.umi-elusive-icons-5:before {
  content: ">";
}
.umi-wordpress-b:before {
  content: "?";
}
.umi-wordpress-w:before {
  content: "@";
}
.umi-youtube-btn:before {
  content: "[";
}
.umi-ics-menu:before {
  content: "]";
}
.umi-ics-home:before {
  content: "^";
}
.umi-ics-back:before {
  content: "_";
}
.umi-playlink:before {
  content: "`";
}
.umi-fontawesome-webfont-1:before {
  content: "`";
}
.umi-play-circled:before {
  content: "{";
}
.umi-shield:before {
  content: "|";
}
.umi-phone-1:before {
  content: "}";
}
.umi-folder:before {
  content: "~";
}
.umi-folder-open:before {
  content: "\";
}
.umi-burning-fire:before {
  content: "\e000";
}
.umi-elusive-icons:before {
  content: "\e001";
}
.umi-wallet-money:before {
  content: "\e002";
}
.umi-lock-open:before {
  content: "\e002";
}
.umi-lock:before {
  content: "\e003";
}
.umi-rss:before {
  content: "\e004";
}
.umi-home:before {
  content: "\e005";
}
.umi-home-alt:before {
  content: "\e006";
}
.umi-music-file:before {
  content: "#";
}
.umi-movie-file:before {
  content: "$";
}
.umi-image-file:before {
  content: "\e007";
}
.umi-excel-file:before {
  content: "\e009";
}
.umi-document-file:before {
  content: "\e00a";
}
.umi-compressed-zip:before {
  content: "\e00b";
}
.umi-code-file:before {
  content: "\e00c";
}
.umi-chart-file:before {
  content: "\e00d";
}
.umi-certificate-file:before {
  content: "\e00e";
}
.umi-bookmark-file:before {
  content: "\e00f";
}
.umi-analytics-file:before {
  content: "\e010";
}
.umi-back-in-time:before {
  content: "\e008";
}
