@charset "UTF-8";

@font-face {
  font-family: "umui-fonts";
  src:url("fonts/umui-fonts.eot");
  src:url("fonts/umui-fonts.eot?#iefix") format("embedded-opentype"),
    url("fonts/umui-fonts.woff") format("woff"),
    url("fonts/umui-fonts.ttf") format("truetype"),
    url("fonts/umui-fonts.svg#umui-fonts") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "umui-fonts" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="umi-"]:before,
[class*=" umi-"]:before {
  font-family: "umui-fonts" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.umi-more-h:before {
  content: "a";
}
.umi-menus:before {
  content: "b";
}
.umi-more-v:before {
  content: "c";
}
.umi-aquo-l:before {
  content: "d";
}
.umi-aquo-r:before {
  content: "e";
}
.umi-aquo-u:before {
  content: "f";
}
.umi-aquo-d:before {
  content: "g";
}
.umi-cur-l:before {
  content: "h";
}
.umi-cur-l-1:before {
  content: "i";
}
.umi-toggle-u:before {
  content: "j";
}
.umi-toggle-d:before {
  content: "k";
}
.umi-search:before {
  content: "l";
}
.umi-email:before {
  content: "m";
}
.umi-no:before {
  content: "n";
}
.umi-yes:before {
  content: "o";
}
.umi-wench:before {
  content: "p";
}
.umi-pencil:before {
  content: "q";
}
.umi-arr-l:before {
  content: "r";
}
.umi-arr-r:before {
  content: "s";
}
.umi-arr-u:before {
  content: "t";
}
.umi-arr-d:before {
  content: "u";
}
.umi-cur-b-u:before {
  content: "v";
}
.umi-cur-b-d:before {
  content: "w";
}
.umi-feed:before {
  content: "x";
}
.umi-point-r:before {
  content: "y";
}
.umi-point-l:before {
  content: "z";
}
.umi-point-u:before {
  content: "A";
}
.umi-point-d:before {
  content: "B";
}
.umi-attachment:before {
  content: "C";
}
.umi-bulb:before {
  content: "D";
}
.umi-thumb-d:before {
  content: "I";
}
.umi-thumb-u:before {
  content: "J";
}
.umi-book-open:before {
  content: "K";
}
.umi-book:before {
  content: "L";
}
.umi-bookmarks:before {
  content: "M";
}
.umi-bookmark:before {
  content: "N";
}
.umi-attention:before {
  content: "O";
}
.umi-cancel-squared:before {
  content: "P";
}
.umi-cancel-circled:before {
  content: "Q";
}
.umi-chat:before {
  content: "R";
}
.umi-cog:before {
  content: "S";
}
.umi-comment:before {
  content: "T";
}
.umi-clock:before {
  content: "U";
}
.umi-compass:before {
  content: "V";
}
.umi-credit-card:before {
  content: "W";
}
.umi-database:before {
  content: "X";
}
.umi-soundcloud:before {
  content: "3";
}
.umi-print:before {
  content: "!";
}
.umi-popup:before {
  content: "\"";
}
.umi-phone:before {
  content: "#";
}
.umi-newspaper:before {
  content: "$";
}
.umi-lock-open:before {
  content: "%";
}
.umi-lock:before {
  content: "&";
}
.umi-location:before {
  content: "'";
}
.umi-twitter-circle:before {
  content: "F";
}
.umi-soundcloud-circle:before {
  content: "G";
}
.umi-git-circle:before {
  content: "E";
}
.umi-facebook-circle:before {
  content: "H";
}
.umi-google-plus-circle:before {
  content: "Y";
}
.umi-linked-in-circle:before {
  content: "Z";
}
.umi-instagram-circle:before {
  content: "0";
}
.umi-white-question:before {
  content: "1";
}
.umi-warning-alt:before {
  content: "2";
}
.umi-users:before {
  content: "4";
}
.umi-user-male:before {
  content: "5";
}
.umi-user-female:before {
  content: "(";
}
.umi-user1:before {
  content: ")";
}
.umi-globe-alt:before {
  content: "*";
}
.umi-globe:before {
  content: "+";
}
.umi-git-circle-alt:before {
  content: ",";
}
.umi-vcard:before {
  content: "6";
}
.umi-gauge:before {
  content: "7";
}
.umi-link:before {
  content: "8";
}
.umi-star:before {
  content: "9";
}
.umi-star-empty:before {
  content: "-";
}
.umi-warning:before {
  content: ".";
}
.umi-file-alt:before {
  content: "/";
}
.umi-file-close-alt:before {
  content: ";";
}
.umi-file-open:before {
  content: "<";
}
.umi-home:before {
  content: ":";
}
.umi-reorder-square:before {
  content: "=";
}
.umi-reorder-square-line:before {
  content: ">";
}
.umi-page:before {
  content: "?";
}
.umi-page-copy:before {
  content: "[";
}
.umi-page-delete:before {
  content: "]";
}
.umi-page-doc:before {
  content: "@";
}
.umi-page-add:before {
  content: "^";
}
.umi-map:before {
  content: "_";
}
.umi-page-multiple:before {
  content: "`";
}
.umi-page-filled:before {
  content: "{";
}
.umi-results-demographics:before {
  content: "|";
}
.umi-clipboard-notes:before {
  content: "}";
}
.umi-css3:before {
  content: "~";
}
.umi-html5:before {
  content: "\";
}
.umi-thumbnails:before {
  content: "\e000";
}
.umi-fontawesome-webfont:before {
  content: "\e001";
}
.umi-chart-pie:before {
  content: "\e002";
}
.umi-chart-line:before {
  content: "\e003";
}
.umi-chart-bar:before {
  content: "\e004";
}
.umi-chart-area:before {
  content: "\e005";
}
.umi-ying-yang:before {
  content: "\e006";
}
.umi-photo:before {
  content: "\e007";
}
.umi-web:before {
  content: "\e008";
}
.umi-tables:before {
  content: "\e009";
}
.umi-cc:before {
  content: "\e00a";
}
