h1.page-title,
h1.page-title a,
h1.page-title a:visited,
a.post-edit-link,
a.post-edit-link:visited,
.um-title { color: #2D3E50/*um-title*/ ; }

body,
.um-text { color: #5D6D7D/*um-text*/ ; background: #ffffff ; }

.entry-meta a { color: #5D6D7D/*um-text*/ ; }

.um-page { color: #fcfcfc/*um-page*/ ; }

.entry-meta,
a:visited { color: #95a5a6/*um-line*/ ; }

pre { background: #fcfcfc/*um-page*/ }

.blog article,
.search article,
.archive article
.um-line { border-bottom: 1px solid #95a5a6/*um-line*/ ; }

aside h1,
.um-hot { color: #C54134/*um-hot*/ ; }

.blog h1.entry-title,
.search h1.entry-title,
.archive h1.entry-title,
.blog h1.entry-title a,
.search h1.entry-title a,
.archive h1.entry-title a,
.blog h1.entry-title a:visited,
.search h1.entry-title a:visited,
.archive h1.entry-title a:visited,
.um-confirm { color: #16A086/*um-confirm*/ ; }

input[type=submit],
butoon { 
	color: #111111/*um-link*/ ;
	background-color: #5DADE2/*um-cool*/ ;
	border: 2px solid rgba(0,0,0,0.1);
	border-left: 2px solid rgba(255,255,255,0.4);
	border-top: 2px solid rgba(255,255,255,0.4);
	border-radius: 3px;
}

blockquote { 
	padding: 1em;
	color: #fcfcfc/*um-page*/ ;
	background-color: #F39C11/*um-prompt*/ ;
}

.page h1.entry-title,
.single h1.entry-title,
.comments-title,
.um-cool { color: #5DADE2/*um-cool*/ ; 
text-shadow: 1px 1px 3px rgba(0,0,0,.3); }

.um-prompt { color: #F39C11/*um-prompt*/ ; }

a,.um-link { color: #111111/*um-link*/ ; }

.page-header {
	padding: 0 .3em; margin: 0 -.3em;
	color: #fcfcfc/*um-page*/;
	background-color: #16A086/*um-confirm*/
}